<header class="bg-violet-600">
  <nav class="flex justify-between items-center w-full mx-auto">
    <div class="ml-10">
      <p>Schedule Exam</p>
    </div>
    <div class="py-2">
      <ul class="flex items-center gap-4 mr-10">
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button (click) = "displayAccepted()">View accepted exams</button>
        </li>
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button (click) = "displayPending()">View exams to be reviewed</button>
        </li>
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button [routerLink]="'/login'">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<table class="table" *ngIf="showReviewTable">
  <thead>
  <tr>
    <th scope="col">Professor Name</th>
    <th scope="col">Subject Name</th>
    <th scope="col">Curriculum</th>
    <th scope="col">Student Year</th>
    <th scope="col">Date</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of mappedReview | async ">
    <td>{{row.professorName}}</td>
    <td>{{row.subject}}</td>
    <td>{{row.curriculum}}</td>
    <td>{{row.studentYear}}</td>
    <td>{{row.proposedDate | date:'dd-MM-yyyy HH:mm' }}</td>
    <td>{{row.status}}</td>
    <td>
      <button mat-raised-button color="primary" class="table-button" (click)="openDialog(row.id);">Accept</button>
    </td>
    <td>
      <button mat-raised-button color="warn" class="table-button" (click)="deleteExam(row.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<table class="table" *ngIf="showAcceptedTable">
  <thead>
  <tr>
    <th scope="col">Professor Name</th>
    <th scope="col">Subject Name</th>
    <th scope="col">Curriculum</th>
    <th scope="col">Student Year</th>
    <th scope="col">Date</th>
    <th scope="col">Room</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of mappedAccepted | async ">
    <td>{{row.professorName}}</td>
    <td>{{row.subject}}</td>
    <td>{{row.curriculum}}</td>
    <td>{{row.studentYear}}</td>
    <td>{{row.proposedDate | date:'dd-MM-yyyy HH:mm' }}</td>
    <td>{{row.room}}</td>
    <td>{{row.status}}</td>
  </tr>
  </tbody>
</table>
