<header class="bg-gray-600">
  <nav class="flex justify-between items-center w-full mx-auto">
    <div class="ml-10">
      <p class="text-white">Schedule Exam</p>
    </div>
    <div class="py-2">
      <ul class="flex items-center gap-4 mr-10">
        <button mat-raised-button (click)="displayAccepted()">View accepted exams</button>
        <button mat-raised-button (click)="displayPending()">View exams to be reviewed</button>
        <button mat-raised-button [routerLink]="'/login'" (click)="logout()">Logout</button>
      </ul>
    </div>
  </nav>
</header>

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" *ngIf="showReviewTable">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Professor Name</th>
        <th scope="col" class="px-6 py-3">Subject Name</th>
        <th scope="col" class="px-6 py-3">Curriculum</th>
        <th scope="col" class="px-6 py-3">Student Year</th>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Action</th>
        <th scope="col" class="px-6 py-3">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let row of mappedReview | async ">
        <td class="px-5 py-4" >
          {{row.professorName}}</td>
        <td class="px-12 py-4">
          {{row.subject}}</td>
        <td class="px-12 py-4">
          {{row.curriculum}}</td>
        <td class="px-14 py-4">
          {{row.studentYear}}</td>
        <td class="py-4">
          {{row.proposedDate | date:'dd-MM-yyyy HH:mm' }}</td>
        <td class="px-5 py-4 text-yellow-500">
          {{row.status}}</td>
        <td class="px-3 py-4">
          <button mat-raised-button color="primary" class="table-button" (click)="openDialog(row.id, row.proposedDate);">Accept</button>
        </td>
        <td class="px-3 py-4">
          <button mat-raised-button color="warn" class="table-button" (click)="deleteExam(row.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" *ngIf="showAcceptedTable">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col"  class="px-6 py-3">Professor Name</th>
      <th scope="col"  class="px-6 py-3">Subject Name</th>
      <th scope="col"  class="px-6 py-3">Curriculum</th>
      <th scope="col"  class="px-6 py-3">Student Year</th>
      <th scope="col"  class="px-6 py-3">Date</th>
      <th scope="col"  class="px-6 py-3">Room</th>
      <th scope="col"  class="px-6 py-3">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let row of mappedAccepted | async ">
      <td class="px-5 py-4">
        {{row.professorName}}</td>
      <td class="px-12 py-4">
        {{row.subject}}</td>
      <td class="px-12 py-4">
        {{row.curriculum}}</td>
      <td class="px-14 py-4">
        {{row.studentYear}}</td>
      <td class="py-4">
        {{row.proposedDate | date:'dd-MM-yyyy HH:mm' }}</td>
      <td class="px-7 py-4">
        {{row.room}}</td>
      <td class="px-5 py-4 text-green-500">
        {{row.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
