<header class="bg-violet-600">
  <nav class="flex justify-between items-center w-full mx-auto">
    <div class="ml-10">
      <p>Schedule Exam</p>
    </div>
    <div class="py-2">
      <ul class="flex items-center gap-4 mr-10">
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button (click)="openDialog()">Schedule exam</button>
        </li>
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button [routerLink]="'/login'">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</header>


<table class="table">
  <thead>
  <tr>
    <th scope="col">Professor Name</th>
    <th scope="col">Subject Name</th>
    <th scope="col">Starting Hour</th>
    <th scope="col">Ending Hour</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let row of examData">
    <td>{{row.professor}}</td>
    <td>{{row.subject}}</td>
    <td>{{row.startingHour}}</td>
    <td>{{row.endingHour}}</td>
    <td>
      <button mat-raised-button color="warn" class="table-button">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
