<h2 mat-dialog-title>Exam</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addForm">
    <mat-form-field>
      <mat-label>Choose professor</mat-label>
      <mat-select formControlName="professor" (selectionChange)="onSelectProfessor($event.value)">
        <mat-option *ngFor="let professor of professorNames" [value]="professor" > {{professor}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose subject</mat-label>
      <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of subjects" [value]="subject">
          {{subject}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-label>Choose a date</mat-label>
      <input matInput
             formControlName="date"
             [matDatepicker]="picker">

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Starting hour:</mat-label>
      <input matInput
             placeholder="Enter the starting hour:"
             formControlName="startingHour"/>
      <mat-error> Starting hour is invalid</mat-error>
    </mat-form-field>

  </form>

  <div *ngIf="errorMessage" class="text-red-500 mx-auto w-56 ">{{ errorMessage }}</div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" color="primary">Cancel</button>

  <button type="submit" class="save-button" mat-raised-button color="primary"
          (click)="postExam()">
    Save</button>
</mat-dialog-actions>

