<h2 mat-dialog-title>Select Classroom</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="acceptForm">
    <mat-form-field appearance="fill">
      <mat-label>Select classroom:</mat-label>
      <mat-select formControlName="room">
        <mat-option *ngFor="let classroom of classrooms" [value]="classroom.value">
          {{ classroom.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div *ngIf="errorMessage" class="text-red-500 mx-auto w-52 ">{{ errorMessage }}</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" color="primary">Cancel</button>

  <button  type="submit" class="save-button" mat-raised-button color="primary" (click)="updateExam()">Save</button>
</mat-dialog-actions>

