<header class="bg-violet-600">
  <nav class="flex justify-between items-center w-full mx-auto">
    <div class="ml-10">
      <p>Schedule Exam</p>
    </div>
    <div class="py-2">
      <ul class="flex items-center gap-4 mr-10">
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button>View accepted exams</button>
        </li>
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button>View pending exams</button>
        </li>
        <li
          class="border-2 border-black bg-gray-400 text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:cursor-pointer text-center font-semibold">
          <button [routerLink]="'/login'">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</header>

